body {background-color:powderblue;}

h1 {border:4px solid skyblue;background-color:skyblue;padding:8px;font-family:"Times New Roman", Times, serif;}

a {font-family: "Courier New", Courier, monospace;}

a:link {color:blue; text-decoration:none;}

a:visited {color:darkblue; text-decoration:none;}

a:hover {color:blue; text-decoration:underline;}

a:active {color:orange;text-decoration:underline;}}

table, th, td {border: 2px solid black; border-collapse: collapse;}

caption {text-align:left;font-size:120%;}

th, td {padding:4px;}